@CHARSET "UTF-8";
body { 
	background-color: #F2F2F2; 
	font-size: 9pt;
}
table {
	border: 2px solid #262626; 
	width: 500px; 
	margin: 10px auto;
}
table tr { 
	background-color:#A6A6A6; 
	height: 50px;
}
table tr:hover { 
	background-color: #737373;
	cursor: pointer;
	color : #F2F2F2;
}
table tr:hover a{
	color : #F2F2F2;
}
td, th {
	text-align: center; 
	padding:5px; 
}
caption {
	font-size: 20px; 
	padding:10px;
}
h2, b{
	text-align: center; 
	color:red;
}
a { 
	text-decoration: none; 
	color:#0D0D0D
}
.left{
	text-align: left;
}
.paging {
	text-align: center;
}
input:not(.btn), textarea {
	width: 90%;
}
