/*초기화*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab'
}
li {
    list-style: none;
    font-family: 'Roboto Slab'
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Roboto Slab'
}
/*header #header_nav*/
header #header_nav{
    height : 25px;
    background-color : #2d1152;
    position : relative;
    min-width : 900px;
}
header #header_nav .gnb{
    width : 1000px;
    overflow : hidden;
}
header #header_nav .gnb li{
    float : left;
}
header #header_nav .gnb li a{
    color : white;
    line-height : 20px;
    display : block;
    padding : 5px;
}
header #header_nav .survivalFootball{
    color : white;
    position : absolute;
    top : 2px;
    right : 10px;
}
header #header_nav .survivalFootball > img{
    height : 21px;
}
header #header_nav .survivalFootball > span{
    font-family: 'Roboto Slab', serif;
    font-weight : 300;
    line-height : 20px;
}
/*header #header_info*/
header #header_info{
    width : 1000px;
    margin : 0 auto;
    overflow : hidden;
}
header #header_info .logo{
    padding : 10px 0;
    float : left;
}
header #header_info .search{
    float : left;
    padding : 0 0 0 10px;
}
header #header_info .search .text {
    width: 400px;
    height : 30px;
    outline: 0;
    }
header #header_info .search .bnt_search {
    width: 124px;
    height: 37px;
    margin: 20px 0;
    background: url('../img/search_btn.png') no-repeat;
    border: none;
    color: white;
}
header #header_info .service{
    float : left;
    padding : 0 0 0 10px;
}
header #header_info .service > ul{
    overflow : hidden;
}
header #header_info .service > ul li{
    float : left;
    margin : 28px 0;
    padding : 0 15px;
}
header #header_info .service > ul li a{
    color : #2d1152;
    display : block;
}
/*content*/
#content {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden
}
#content #main_menu{
    width : 155px;
    float : left;
}
#content #main_menu > ul > li > a{
    line-height : 60px;
    display : block;
}
#content #main{
    width : 600px;
    float : left;
}
#content #main > div{
    border : 1px solid black;
    box-sizing : border-box;
    margin : 3px;
}
#content #main > div:nth-child(1){
    height : 300px;
}
#content #main > div:nth-child(2){
    height : 150px;
}
#content #main > div:nth-child(3){
    height : 50px;
    background-color : #500095;
    border : none;
}
#content #main > div:nth-child(3) > ul{
    overflow : hidden;
}
#content #main > div:nth-child(3) > ul > li{
    float : left;
    width : 90px;
    padding : 0 4px;
}
#content #main > div:nth-child(3) > ul > li > a{
    display : block;
    color : white;
    line-height : 50px;
    text-align : center;
}
#content #main > div:nth-child(3)~div{
    height : 100px;
}
#content #main_banner{
    width : 230px;
    float : left;
}
#content #main_banner > div{
    height : 100px;
    margin : 3px;
    border : 1px solid gray;
}
#content #main_banner > div:nth-child(2)~div{
    height : 150px;
}
#content #main_banner > div:nth-child(4){
    height : 200px;;
}
footer {
    width : 730px;
    height : 100px;
    margin : 10px auto;
}
footer ul{
    overflow : hidden;
}
footer ul li{
    float : left;
}

